<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--
		1、mybatis可以使用properties来引入外部properties配置文件的内容；
		resource：引入类路径下的资源
		url：引入网络路径或者磁盘路径下的资源
	  -->
    <properties resource="dbconfig.properties"></properties>
    
<!--   settings  设置项
		2、settings包含很多重要的设置项
		setting:用来设置每一个设置项
			name：设置项名
			value：设置项取值
	 -->
    <settings>
<!--        开启驼峰命名-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
<!--        日志       -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        
    </settings>
    <typeAliases >
        <package name="org.example.pojo"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${user}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
<!--        <mapper resource="UserMapper.xml"/>-->

        <!-- 接口  -->
        <mapper class="org.example.dao.UserMapper"></mapper>
        <!--注解-->
        <mapper class="org.example.dao.UserMapperAnnotation"></mapper>
    </mappers>
</configuration>